.xxSmallText {
    font-size: 8pt;
}
.xSmallText {
    font-size: 10pt;
}
.smallText {
    font-size: 12pt;
}
.mediumText {
    font-size: 14pt;
}
.largeText {
    font-size: 16pt;
}
.xLargeText {
    font-size: 20pt;
}
.xxLargeText {
    font-size: 24pt;
}
.orangeText {
    color:  #f16c05;
}
.grayText {
    color: #333;
}
.whiteText {
    color: #fff;
}

.title {
    font-weight: normal !important;
    color: #333 !important;
    font-size: 24pt !important;
    margin: 3px 0 !important;
    text-align: center !important;
}
.subtitle {
    font-weight: normal !important;
    color: #787878 !important;
    font-size: 12pt !important;
    margin: 3px 0 12px !important;
    text-align: center !important;
}
.title1 {
    font-weight: normal !important;
    color: #333 !important;
    font-size: 20pt !important;
    margin: 12px 0 3px !important;
    text-align: left !important;
}
.title2 {
    font-weight: normal !important;
    color:  #f16c05 !important;
    font-size: 16pt !important;
    margin: 12px 0 3px !important;
    text-align: left !important;
}
.title3 {
    font-weight: bold !important;
    color:  #f16c05 !important;
    font-size: 14pt !important;
    margin: 12px 0 3px !important;
    text-align: left !important;
}
.normalText {
    font-weight: normal !important;
    color: #000 !important;
    font-size: 12pt !important;
    margin: 3px !important;
    text-align: justify !important;
}
.emphasizedText {
    font-weight: bold !important;
    color: #000 !important;
    font-size: 12pt !important;
    margin: 3px !important; 
    text-align: justify !important;
}
.quotedText {
    font-style: italic !important;
    font-weight: normal;
    color: #000 !important;
    font-size: 12pt !important;
    margin: 12px 50px !important;
    text-align: center !important;
}